@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: Roboto;
    margin: 0px;
    border: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    display:flex;
    flex-direction: column;
}

.top{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 16px 150px 150px;
}

.header{
    font-size: 24px;
    font-weight: 900;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:100px;
}

.header-links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.header-links a{
    font-weight: 100;
    font-size: 18px;
    color: #E5E7Eb;
}

.front{
    display:flex;
    gap: 50px;
}

.front .text-container{
    font-size:48px;
    font-weight: 900;
    flex:1;
}

.front .text-container p{
    font-size:18px;
    color: #E5E7Eb;
    font-weight: 100;
}

button{
    padding:10px 30px;
    background-color:#3882F6;
    border-radius: 5px;
    color:#E5E7Eb
}

.front .image-container{
    background-color: slategray;
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.gallery{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    gap:50px;
}

.cards{
    display:flex;
    justify-content: center;
    gap:50px;
}

.cards .card-container{
    font-size:18px;     
    color:#1F2937;
    font-weight:300;
    text-wrap: wrap;
    flex: 0 0 10px;
    text-align:center
}

.card{
    width:200px;
    height:200px;
    border: 4px;
    border-radius: 20px;
    color: rgb(103, 147, 241);
    border-style: solid;
    margin: 8px;
}

.quote-container{
    background-color:#E5E7Eb;
    display:flex;
    padding: 150px 500px;
    flex-direction: column;
    gap:16px;
}

.quote{
    font-size:36px;
    color:#1F2937;
    font-style:italic;
}

.quote-author{
    text-align: end;
    font-weight:900;
}

.advertisement-section{padding:100px 200px;}

.advertisement-container{
    background-color: #3882F6;
    display:flex;
    padding: 50px 100px;
    border-radius: 4px;
    justify-content: space-between;
    color:#E5E7Eb;
    font-size:24px;
    font-weight: 900;
}

.advertisement-text p{
    font-size: 18px;
    font-weight: 300;
}

.advertisement-button{
    border: 2px solid white;
}

.footer{
    background-color: #1F2937;
    color:#E5E7Eb;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}